.skills {
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 200;
  .content {
    padding-left: 100px;
    .skillInfoContainer {
      margin-top: 100px;
      margin-bottom: 100px;
      text-align: center;
      .skillInfo {
        display: inline-block;
        width: 200px;
        min-height: 300px;
        background-color: white;
        vertical-align: top;
        border-radius: 10px;
        margin: 20px;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.25);
        .skillInfoHeading {
          text-align: center;
          padding: 10px;
          font-weight: bold;
          color: rgba(82, 82, 82, 1);
          border-bottom: 2px solid rgba(0, 0, 0, 0.25);
          box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.3);
        }
        .info {
          margin: 15px;
        }
      }
    }
  }
}