.app {
  max-width: 1024px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.app .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.app .title .column {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.nav-bar {
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  margin-top: 40px;
}

.nav-bar a {
  padding: 10px;
  color: black;
  text-decoration: none;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
}

.nav-bar a:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.3);
}
