.projects {
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 200;
  .content {
    padding-left: 100px;
    .project{
      display: inline-block;
      background-color: white;
      border-radius: 20px;
      min-width: 250px;
      min-height: 200px;
      max-width: 500px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
      margin: 40px;

      img {
        text-align: left;
        display: inline-block;
        padding: 10px;
        width: calc(50% - 61px);
        @media only screen and (max-width: 680px) {
          display: none;
        }
      }
      .projectContent{
        position: relative;
        display: inline-block;
        padding: 20px;
        width: 50%;
        vertical-align: top;
        @media only screen and (max-width: 680px) {
          width: auto;
        }
        h3 {
          margin-top: 0;
          margin-bottom: 5px;
        }
        p {
          margin-top: 5px;
          margin-bottom: 5px;
        }
        a {
          display: inline-block;
          font-weight: bold;
          font-size: 15px;
          text-decoration: none;
          color: black;
          border-radius: 10px;
          padding: 10px 15px;
          margin-top: 10px;
          transition: 0.3s;
          &:hover{
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}