.intro {
  position: relative;
  min-height: 800px;
  margin-bottom: 50px;
  z-index: 200;
  .content {
    padding-top: 250px;
    padding-left: 30px;

    @media screen and (max-width: 1020px) {
      max-width: 400px;
    }

    @media screen and (max-width: 730px) {
      padding-top: 600px;
    }

    @media screen and (max-width: 500px) {
      padding-top: 400px;
    }

    .info {
      display: inline-block;
      color: white;
      font-size: 21px;
      font-weight: normal;
      line-height: 30px;
    }
    .github {
      display: block;
      width: 140px;
      margin-top: 10px;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: black;
      border-radius: 20px;
      padding: 10px 15px;
      background-color: rgba(230, 230, 230, 1);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      transition: 0.5s;

      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 1);
      }
    }
    .linkedIn {
      display: block;
      width: 140px;
      margin-top: 10px;
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      color: black;
      border-radius: 20px;
      padding: 10px 15px;
      background-color: rgba(230, 230, 230, 1);
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
      transition: 0.5s;
      
      &:hover {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  .moonContainer {
    display: block;
    position: absolute;
    top: 100px;
    left: 600px;
    width: 1000px;
    height: 750px;

    @media screen and (max-width: 1020px) {
      top: 200px;
      left: 350px;
      width: 700px;
      height: 525px;
    }

    @media screen and (max-width: 730px) {
      top: 0;
      left: 0;
      width: 700px;
      height: 525px;
    }

    @media screen and (max-width: 500px) {
      top: 0;
      left: 0;
      width: 500px;
      height: 375px;
    }

    span {
      display: block;
      position: absolute;
      color: #d01e2d;
      opacity: 1;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 360%;
      top: 45%;
      left: 10%;
      text-shadow: 0 10px 15px rgba(2, 11, 22, 0.2);
      z-index: 40;
    }

    .moon {
      display: block;
      position: absolute;
      width: 60%;
      height: 80%;
      top: 9.5%;
      left: 20.94%;
      background-repeat: no-repeat;
      background-size: 100%;
      background-image: url("../../../../assets/images/moon.svg");
      z-index: 20;
    }
    .clouds {
      display: block;
      position: absolute;
      width: 38%;
      height: 40%;
      background-repeat: no-repeat;
      background-size: 100%;

      &.cloud1 {
        top: 2.5%;
        left: 50%;
        background-image: url("../../../../assets/images/b_cloud01.svg");
        z-index: 10;
      }
      &.cloud2 {
        top: 12%;
        left: 3%;
        background-image: url("../../../../assets/images/b_cloud02.svg");
        z-index: 10;
      }

      &.cloud3 {
        top: 60%;
        left: 8.5%;
        background-image: url("../../../../assets/images/cloud1.svg");
        z-index: 30;
      }
      &.cloud4 {
        top: 70%;
        left: 49.5%;
        background-image: url("../../../../assets/images/cloud2.svg");
        z-index: 30;
      }
      &.cloud5 {
        top: 40%;
        left: 61.5%;
        background-image: url("../../../../assets/images/cloud3.svg");
        z-index: 30;
      }
    }
  }
}
