.moonContainer {
  .moon {
    display: block;
    position: fixed;
    width: 600px;
    height: 600px;
    top: 95px;
    left: 820px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url("../../../../assets/images/moon.svg");
    z-index: 20;
  }
  .clouds {
    display: block;
    position: fixed;
    width: 380px;
    height: 190px;
    background-repeat: no-repeat;
    background-size: 100%;

    &.cloud1 {
      top: 25px;
      left: 1100px;
      background-image: url("../../../../assets/images/b_cloud01.svg");
      z-index: 10;
    }
    &.cloud2 {
      top: 120px;
      left: 630px;
      background-image: url("../../../../assets/images/b_cloud02.svg");
      z-index: 10;
    }

    &.cloud3 {
      top: 445px;
      left: 685px;
      background-image: url("../../../../assets/images/cloud1.svg");
      z-index: 30;
    }
    &.cloud4 {
      top: 550px;
      left: 1095px;
      background-image: url("../../../../assets/images/cloud2.svg");
      z-index: 30;
    }
    &.cloud5 {
      top: 290px;
      left: 1215px;
      background-image: url("../../../../assets/images/cloud3.svg");
      z-index: 30;
    }
  }
}