.experience {
  margin-bottom: 300px;
  margin-left: auto;
  margin-right: auto;
  .content {
    padding-left: 100px;
    .experienceContainer {
      margin-top: 100px;
      .experience {
        padding: 20px;
        width: calc(100% - 100px);
        min-height: 200px;
        border-radius: 10px;
        background-color: white;
        .titleAndCompany {
          position: relative;
          font-weight: bold;
          .jobTitle {
            display: inline-block;
            margin-right: 10px;
            font-weight: normal;
            font-style: italic;
            font-size: 20px;
          }
          .company {
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
            font-weight: normal;
            color: rgba(82, 82, 82, 1);
          }
        }
        .location {
          position: relative;
          margin-top: 10px;
        }
      }
    }
  }
}