.experiences {
  margin-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 200;
  .content {
    padding-left: 30px;
    .experienceContainer {
      margin-top: 100px;
      padding-right: 30px;
      .experience {
        padding: 20px;
        width: calc(100% - 100px);
        min-height: 100px;
        min-width: 240px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        background-color: white;
        .titleAndCompany {
          position: relative;
          font-weight: bold;
          .jobTitle {
            display: inline-block;
            margin-right: 10px;
            font-weight: normal;
            font-style: italic;
            font-size: 20px;
          }
          .company {
            display: inline-block;
            margin-left: 10px;
            font-size: 20px;
            font-weight: normal;
            color: rgba(82, 82, 82, 1);
          }
        }
        .location {
          position: relative;
          margin-top: 10px;
          .duration {
            margin-left: 30px;
            text-transform: uppercase;
            @media only screen and (max-width: 501px) {
              display: block;
              margin-left: 0;
              margin-top: 10px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}